@import "src/variables";

.flex-container-days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .flex-item-days {
    background-color: $background-color;
    // width: 60%;
    padding: 1%;
    margin: 0.1%;
    text-align: left;
    align-content: center;
    border-radius: 5px;
  }
}
